* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  scrollbar-width: none;
}

html, body, #root, .App{
  height: 100%;
  width: 100%;
  background-color: #191923;
  overflow: hidden;
  margin: auto;
}

body {
  padding: 15px 235px;
}



#root {
 max-width: 1440px;
 box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.loading-animation {
  margin: 15px;
  position: absolute;
  z-index: 100;
  left: 0%;
  top: 0%;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #20202A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  text-transform: capitalize;
  color: #fff;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.loading-bar {
  height: 4px;
  margin: 15px 0;
  flex-direction: column;
  height: 38px;
  justify-content: space-between;
}

.loading-bar .MuiLinearProgress-colorPrimary {
  background-color: #191923;
}

.loading-bar .MuiLinearProgress-barColorPrimary {
  background-color: #FFC107;
}

.loading-bar .MuiTypography-colorTextSecondary {
  color: #fff;
}

.App {
  position: relative;
  background-color: #1E1E28;
  display: flex;
  overflow: hidden;
  color: #fff;
  overflow: hidden;
}

.canvas-container {
  height: 45%;
  width: 25%;
  position: fixed;
  right: 15%;
  top: 35%;
  transform: rotateZ(45deg) translateY(-50%);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  position: relative;
  z-index: 1;
  transition: .4s ease-in-out;
  color: #fafafc;
  user-select: none;
}

@media only screen and (max-width: 1550px) { 
  body {
    padding: 15px;
  }
}

@media only screen and (max-width: 1440px) { 
  .App .projects-container .project-item {
    width: calc((100% / 3) - 20px);
    min-width: unset;
    height: 210px;
  }
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 32%;
  }
}

@media only screen and (max-width: 1200px) { 
  .App .projects-container .project-item {
    height: 165px;
  }
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 32%;
  }
  body {
    padding: 0%;
  }
  .contact-info-container .description-container {
    flex-direction: column;
  }
  .contact-info-container .description-container .contact-info-item {
    width: 100% !important;
    margin-top: 15px;
  }

  .App .projects-container .projects .project-item {
    width: calc(50% - 15px);
    height: 210px;
  }
  .App .project-contact-info .project-idea {
    font-size: 1.5em;
  }
  .App .cards-container .about-item {
    width: calc(50% - 7.5px);
    min-width: unset;
  }
  
}

@media only screen and (max-width: 768px) {
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 30%;
  }
  .App .cards-container .about-item {
    max-width: unset;
    min-width: 320px;
  }
  .right-sidebar-container.closed .burger-container {
    left: -80px;
  }
}

@media only screen and (max-width: 540px) {
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 20%;
  }
  .App .main-page .page-container .info-container {
    font-size: 2em;
    height: unset;
    padding: 30px 30px 40px;
  }
  .App .about-container .about-pitch , .App .cards-container .about-item {
    width: 100%;
  }
  .App .projects-container .projects {
    justify-content: space-between;
  }
  .App .projects-container .project-item {
    min-width: unset;
    height: 175px!important;
  }
}

@media only screen and (max-width: 480px) {
  .App .projects-container .project-item .project-animate:hover .project-description {
    top: 40%;
  }
  .App .contact-info-container .description-container .contact-info-item {
    min-width: unset;
    width: 100%;
  }
  .App .cards-container .about-item {
    min-width: unset;
    width: 100%;
  }
  .App .projects-container .projects {
    justify-content: center;
  }
  .App .projects-container .project-item {
    height: 240px!important;
    width: 100%!important;
  }
  .page {
    overflow-x: hidden!important;
  }
  #mobile .page {
    padding: 15px !important;
    padding-top: 65px!important;
  }
  #mobile #home {
    padding-top: 100px!important;
  }
  .App .contact-form-container {
    padding: 15px;
  }
}

@media only screen and (max-width: 300px) {
  .App .contact-info-container .description-container .contact-info-item {
    min-width: 250px;
    font-size: 0.8em;
    padding: 15px;
  }
  
  .App .about-container .about-pitch, .App .cards-container .about-item {
    min-width: 250px;
  }
  .App .projects-container .projects {
    justify-content: center;
  }
  .App .projects-container .project-item {
    min-width: 250px;
    height: 240px;
  }
}

/* TODO: need to update image */