* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  scrollbar-width: none;
}

html, body, #root, .App{
  height: 100%;
  width: 100%;
  background-color: #191923;
  overflow: hidden;
  margin: auto;
}

body {
  padding: 15px 235px;
}

#root {
 max-width: 1440px;
 box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.loading-animation {
  margin: 15px;
  position: absolute;
  z-index: 100;
  left: 0%;
  top: 0%;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #20202A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  text-transform: capitalize;
  color: #fff;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.loading-bar {
  height: 4px;
  margin: 15px 0;
  flex-direction: column;
  height: 38px;
  justify-content: space-between;
}

.loading-bar .MuiLinearProgress-colorPrimary {
  background-color: #191923;
}

.loading-bar .MuiLinearProgress-barColorPrimary {
  background-color: #FFC107;
}

.loading-bar .MuiTypography-colorTextSecondary {
  color: #fff;
}

.App {
  position: relative;
  background-color: #1E1E28;
  display: flex;
  overflow: hidden;
  color: #fff;
  overflow: hidden;
}

.canvas-container {
  height: 45%;
  width: 25%;
  position: fixed;
  right: 15%;
  top: 35%;
  transform: rotateZ(45deg) translateY(-50%);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  position: relative;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  user-select: none;
}

@media only screen and (max-width: 992px) {
  #root {
    padding: 0;
  }
  .App {
    border-radius: 10px;
  }
  .App .pages {
    padding: 0;
  }
  .App #skills > .about-info {
    width: 100%;
    font-size: 0.85em;
    padding-bottom: 15px;
  }
  .App #skills .empty-container {
    display: none;
  }
  .App #skills > .about-info p {
    margin: 5px 0;
  }
  .App #skills > .about-info h2 {
    margin-bottom: 10px;
  }
  .App .header-container .name-container {
    width: 90px;
    position: unset;
  }
  .App .empty-container {
    height: 50px;
  }
  .App .main-page {
    width: calc(100% - 90px);
  }
  .App .pages {
    width: 100%;
  }
  .App #skills {
    justify-content: center;
  }
  .App #skills > .skills-container {
    overflow: auto;
    font-size: 1.3em;
    height: 115px;
  }
  .App #project .project-container {
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    overflow: auto;
  }
  .App #project .project-container .project-item {
    min-width: 275px;
  }
  .App #contact .empty-container {
    height: 25px;
  }
  .App #contact .page-container span {
    font-size: 2em;
  }
  .App #contact {
    text-align: center;
    align-items: center;
  }
  .App #contact .social-media-container {
    width: 100%;
  }
  .nav-item.mobile-page {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (max-width: 480px) {
  .App {
    flex-direction: column;
  }
  .nav-item.mobile-page {
    border-bottom: 0;
  }
  
  .App .header-container .name-container {
    display: none;
  }
  .App .main-page {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .App .header-container {
    height: 70px;
    width: 100%;
    flex-direction: row;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 0;
  }
  .App .header-container .side-nav-info {
    flex-direction: row;
    width: calc(100% - 90px);
    padding-left: 5px;
  }
  .nav-closing-tag {
    width: 70px;
    position: fixed;
    bottom: 0%;
    right: 0%;
  }
  .App .pages {
    padding: 0px;
    flex-direction: column;
  }
  .App #home {
    font-size: 1.5em;
  }
  .App #home .info-container span {
    text-align: center;
  }
  #home .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .App #skills {
    justify-content: flex-start;
  }
  .App #skills .empty-container {
    display: none;
  }
  .App #skills > .about-info {
    width: 100%;
    margin-bottom: 25px;
    font-size: 1em;
  }
  .App #skills .skills-container div {
    pointer-events: none;
  }
  .App #skills > .skills-container {
    flex-wrap: wrap;
    justify-content: center;
    overflow: unset;
    font-size: 1.5em;
  }
  .App #project {
    height: unset;
  }
  .App #project .project-container {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  #project .project-item .project-description  {  
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .8);
    text-transform: capitalize;
  }
  .App #project .project-item .project-name {
    display: none;
  }
  .App #contact {
    text-align: left;
    align-items: center;
  }
  .App #contact .page-container {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}

/* TODO: need to update image */