* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  scrollbar-width: none;
}

html, body, #root, .App{
  height: 100%;
  width: 100%;
  background-color: #191923;
  overflow: hidden;
  margin: auto;
}

body {
  padding: 15px 235px;
}

#root {
 max-width: 1440px;
 box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.loading-animation {
  margin: 15px;
  position: absolute;
  z-index: 100;
  left: 0%;
  top: 0%;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #20202A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  text-transform: capitalize;
  color: #fff;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.loading-bar {
  height: 4px;
  margin: 15px 0;
  flex-direction: column;
  height: 38px;
  justify-content: space-between;
}

.loading-bar .MuiLinearProgress-colorPrimary {
  background-color: #191923;
}

.loading-bar .MuiLinearProgress-barColorPrimary {
  background-color: #FFC107;
}

.loading-bar .MuiTypography-colorTextSecondary {
  color: #fff;
}

.App {
  position: relative;
  background-color: #1E1E28;
  display: flex;
  overflow: hidden;
  color: #fff;
  overflow: hidden;
}

.canvas-container {
  height: 45%;
  width: 25%;
  position: fixed;
  right: 15%;
  top: 35%;
  transform: rotateZ(45deg) translateY(-50%);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  position: relative;
  z-index: 1;
  transition: .4s ease-in-out;
  color: #fafafc;
  user-select: none;
}

@media only screen and (max-width: 992px) {
  body {
    padding: 0%
  }
}

@media only screen and (max-width: 480px) {
  
}

/* TODO: need to update image */